<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="subtle-select.css" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="module.js" type="text/javascript" charset="utf-8"></script>
    <script src="directives/subtleSelect.js" type="text/javascript" charset="utf-8"></script>
    <script src="directives/subtleSelectOption.js" type="text/javascript" charset="utf-8"></script>
    <script src="directives/subtleSelectOptionList.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
      angular.module('demo', ['sbtl']);
      angular.module('demo').controller('DemoCtrl', function($scope) {
        $scope.myOpts = [{
          text: 'Blargus',
          value: 'blargus'
        }, {
          text: 'Boo',
          value: 'boo'
        }];

        $scope.myValue = 'blargus';

        $scope.logValue = function() {
          console.log($scope.myValue);
        };
      });
    </script>
  </head>
  <body ng-app="demo">
    <div ng-controller="DemoCtrl">
      <sbtl-select ng-model="myValue" sbtl-options="myOpts" sbtl-list-is-visible="false">boo</sbtl-select>

       <button ng-click="logValue()">clicky</button>
    </div>
  </body>
</html>
